#leave {
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
    position: sticky;
    left: 100%;
}

#leave:link {
    color: #000000;
    text-decoration: none;
}

#leave:visited {
    color: #000000;
    text-decoration: none;
}

#leave:hover {
    color: #FFFFFF;
    text-decoration: none;
}

#leave:active {
    color: #FFFFFF;
    text-decoration: none;
}