<div (click)="onGroupClicked(group.id)" *ngIf="group" >
    <section id="group">
        <span *ngIf="isIn; then grouped else notGrouped"></span>
        <ng-template #grouped><a id="hover">{{ group.title }}</a><img id="grouped" src="../assets/img/check.svg" alt="In" width="25"><div ><app-leave-group-button (click)="onLeaveClick(group.id)"></app-leave-group-button></div></ng-template>
        <ng-template #notGrouped><a>{{ group.title }}</a><div ><app-join-button (click)="onJoinClick(group.id)"></app-join-button></div></ng-template>
    </section>
</div>