#group { 
    border: 2px solid #000000; 
    background: #949494; 
    border-radius: 20px;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

#grouped {
    margin-left: 10px;
    filter: invert(1);
}

#hover:hover {
    color: #000000;
    text-decoration: none;
}