<div (click)="onTopicClicked(topic.id)" *ngIf="topic" >
    <section id="topic">
        <span *ngIf="isIn; then grouped else notGrouped"></span>
        <ng-template #grouped><a id="hover">{{ topic.title }}</a><img id="grouped" src="../assets/img/check.svg" alt="In" width="25"><div ><app-exit-topic-button (click)="onExitClick(topic.id)"></app-exit-topic-button></div></ng-template>
        <ng-template #notGrouped><a>{{ topic.title }}</a><div (click)="onJoinClick(topic.id)"><app-join-button (click)="onJoinClick(topic.id)"></app-join-button></div></ng-template>
    </section>
</div>