#exit {
    border: 2px solid #000000;
    border-radius: 20px;
    padding: 10px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000000;
    position: sticky;
    left: 100%;
}

#exit:link {
    color: #000000;
    text-decoration: none;
}

#exit:visited {
    color: #000000;
    text-decoration: none;
}

#exit:hover {
    color: #FFFFFF;
    text-decoration: none;
}

#exit:active {
    color: #FFFFFF;
    text-decoration: none;
}