section {
    height: 85vh;
}

.background {
    font-family: 'Shadows Into Light Two';
    font-size: x-large;
    padding-top: 150px;
    border: 4px solid #000000;
    background: rgba(217, 216, 210, 0.8);
    border-radius: 30px;
    box-sizing: border-box;
    width: 80%;
    height: 80%;
    max-width: 50em;
    margin: 0 auto;
    padding-bottom: 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#buttons {
    border: 2px solid #000000;
    background: #949494;
    border-radius: 30px;
    padding: 10px;
    color: #FFFFFF;
    margin-left: 380px;
    margin-right: 380px;
    margin-top: 20px;
    list-style-type: none;
}

#buttons:link {
    text-decoration: none;
}

#buttons:hover {
    text-decoration: none;
    color:#000000;
}