#join {
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
    position: sticky;
    left: 95%;
}

#join:link {
    color: #FFFFFF;
    text-decoration: none;
}

#join:visited {
    color: #FFFFFF;
    text-decoration: none;
}

#join:hover {
    color: #000000;
    text-decoration: none;
}

#join:active {
    color: #000000;
    text-decoration: none;
}