ul { 
    list-style-type: none;
    margin: 0;
} 

ul li { 
    padding: 10px;
}

#img {
    width: 300px; 
    height: 367px;
    border-radius: 30px;
    border: 4px solid #000000;
    background-color: #D9D8D2;
    grid-column: 3 / 4;
}

.profile { 
    font-family: 'Shadows Into Light Two'; 
    font-size: x-large;
    border: 4px solid #000000; 
    background: #D9D8D2; 
    border-radius: 30px; 
    box-sizing: border-box;
    grid-column: 1 / span 2;
    height: 100%;
}

.user-info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
    padding-left: 2rem;
}

.editButton {
    margin-top: 20px
}

.edit-button-group{
    width: 90%;
    margin: 30px 0px 0px 5%;
    display: flex;
    justify-content: flex-end;
}
 
.edit-button{
    font-family: 'Shadows Into Light Two';    
    width: 203px;
    height: 57px;
    margin: 2%;
    background: #949494;
    color: #FFFFFF;
    border-color: transparent;
    border-radius: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 61px;    
}

.edit-button:hover{
    color:#000000;
}